@font-face {
  font-family: 'Norse Bold';
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  width: 35%;
  background-size: 100%;
  position: relative;
}

.title {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 20%;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title > h1 {
  text-align: center;
  font-family: 'Norse Bold';
  font-size: 4rem;
  color: white;
}

.credit {
  width: 100%;
  position: absolute;
  bottom: 5px;
  text-align: center;
}

.credit > p,
.credit > p > a {
  font-size: 0.8em;
  color: white;
}

.right {
  width: 70%;
  background-color: #f2f2f2;
}

img {
  width: 80px;
}

.row-one,
.row-three {
  width: 75%;
  padding-left: 40px;
}

.row-one {
  padding-top: 100px;
}

.row-one p {
  font-size: 1.25em;
}

.row-one > p:first-child {
  padding-bottom: 20px;
}

.row-one > p:last-child {
  padding-bottom: 50px;
}

.italics {
  font-style: italic;
}

.form-titles {
  font-size: 0.7em;
}

form {
  display: flex;
}

.white {
  padding-left: 40px;
  background-color: white;
}

.row-two-title {
  font-size: 1.25em;
  padding: 20px 0;
}

.row-two {
  padding-bottom: 30px;
}

.left-form > div,
.right-form > div {
  margin-right: 60px;
  margin-bottom: 20px;
}

.left-form > div > input,
.right-form > div > input{
  width: 225px;
  height: 25px;
  font-size: 1.1em;
}

.row-three {
  margin-top: 25px;
}

.row-three > button {
  margin-bottom: 20px;
  padding: 10px 50px;
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 10px;
}